header .header-brand__logo, .footer .footer-brand__logo {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.header-brand__logo {
    width: 75px !important;
}
img {
    max-width: 100%;
}
img {
    border: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:visited {
    color: #ebebeb;
    text-decoration: none;
    outline: 0;
    transition: color .2s;
}
a {
    color: #eeeeee;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
body {
    background: #fff;
    color: #5a5a5a;
    line-height: 19px;
}
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
