html{
    scroll-behavior: smooth;
}

h3{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    position: top;
}

body{
    font-family: 'Raleway', sans-serif;
    background: rgb(71, 71, 71);
}

.container{
    width: 900px;
    min-height: 200px;
    border: 10px solid rgb(97, 97, 97);
    margin: 0 auto;
    background-color: rgb(99, 99, 99);
}


.title-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-style: italic;
    margin-right: 7px;
    font-weight: bold;
}

.title{
    position: relative;
    z-index: 1;
}

.title-block::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

.list ul{
    display: flex;
    background: rgb(187, 187, 187);
}

.list li a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 115%;
    font-weight: bold;
    transition: background 0.4s ease;
    cursor: pointer;
}

.list li a:hover{
    background: rgb(153, 153, 153);
}

.history-org{
    display: flex;
}

.history p{
    font-size: 20px;
    border: 7px solid rgb(153, 153, 153);
    border-radius: 10px;
    padding: 8px;
    color: white;
}

.history ul{
   padding-left: 20px;
   margin-top: 1em;
   margin-bottom: 1em;
   list-style-type: circle;
   font-weight: bold;
   font-size: 20px;
}
.aqua{
    border: 3px solid black;
    border-radius: 10px;
}

th{
    color: white;
    padding: 10px;
    background: rgb(29, 29, 29);
    border: 3px solid rgb(141, 136, 136);
    border-radius: 5px;
}

td{
    color: white;
    background: rgb(29, 29, 29);
    border-radius: 5px;
    border: 3px solid rgb(141, 136, 136);
    padding: 10px;
}

.faculty-links a{
    padding: 5px;
    text-decoration: none;
    background: black;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
}

.faculty-links li{
    width: max-content;
    margin: 12px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}

.faculty-links li:hover{
    transform: translatex(10px);
}